In [1]:
import requests
import json
import sys
import pandas as pd
import numpy as np

from  keys  import  client_id, api_key
#import Yelp_Helper_Functions as yf

In [2]:
url         = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(id)
headers     = {
              'Authorization': 'Bearer {}'.format(api_key),
              }
response    = requests.get(url, headers=headers)
df          = pd.read_csv("Bars_Denver.csv")
list_of_ids = df.id.to_list()

In [3]:
def yelp_rev_call(url):
    # use .get() to call url and set to 'response'
    response = requests.get(url, headers=headers)
    # return json file from yelp api for all businesses
    return response.json()['reviews']

In [4]:
def parse_data(list_of_data):
    # create a container to hold our parsed data
    reviews = []
    # loop through our business  
    for review in list_of_data:
        # parse each individual business into a tuple
        rev_tuple = (review['id'],
                     review['text'],
                     review['rating']
                    )
        # add each individual business tuple to our data container
        reviews.append(rev_tuple)
    # return the container with all of the parsed results
    return reviews

In [5]:
def df_save(parsed_data):
    # insert parsed_data into a DataFrame
    df = pd.DataFrame(parsed_data)
    # save file as csv using append, not adding an index, and not adding a header
    df.to_csv("Bars_Denver_Reviews.csv",
                   mode='a', index=False, header=False)
    return

In [6]:
# making the call to Yelp api reviews
yr_data   = []
review_df = pd.DataFrame(yr_data)
review_df.to_csv("Bars_Denver_Reviews.csv", 
               index_label=['RId', 'Text', 'Rating'])
for i in list_of_ids:
    url           = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(i)
    call_response = yelp_rev_call(url)
    clean_revs    = parse_data(call_response)    
    df_save(clean_revs)

In [7]:
# add business id column to reviews csv
tri_array  = np.repeat(list_of_ids, 3, axis=0)
tri_list   = list(tri_array)
df_index   = pd.DataFrame(tri_list, columns = ['id'])
df_revs    = pd.read_csv('Bars_Denver_Reviews.csv')
final_df   = df_index.join(df_revs)
final_df.to_csv('Denver_Bars_and_Reviews.csv', index=False)

In [8]:
# merge reviews and businesses into final csv of all data for Boston
df_bar_revs         = pd.read_csv("Denver_Bars_and_Reviews.csv")
df_bars             = pd.read_csv("Bars_Denver.csv")
df_bars_and_reviews = pd.merge(df_bars, df_bar_revs, how='outer')
df_bars_and_reviews.to_csv('Final_Denver_Data.csv')

In [9]:
df_bars_and_reviews

,id,Name,Zip Code,Buisness Rating,Review Count,Categories,Delivery,Distance,Price,RId,Text,Rating
0,NuVbxkDBwxMuDKe_ok-0LA,54thirty,80202,4.0,259,lounges,True,2239.949871,$$,ElUpForhPlSTDrALAiH0kA,I visited 54thirty on a recent trip and stay a...,5.0
1,NuVbxkDBwxMuDKe_ok-0LA,54thirty,80202,4.0,259,lounges,True,2239.949871,$$,YnDl8HmU0eGA7yCNaJnSxg,Come here for drinks and the view\nFont come h...,4.0
2,NuVbxkDBwxMuDKe_ok-0LA,54thirty,80202,4.0,259,lounges,True,2239.949871,$$,AoP9BDCBCY8eS0YRCr_i6g,Great chic rooftop bar in downtown Denver. It ...,5.0
3,yuzp8qeNTuQBIHzKqYWXPw,Prohibition,80203,4.0,550,newamerican,True,1030.860763,$$,GrBL9xmcNOoLpT83sy_YDQ,A wonderful atmosphere that you don't find at ...,4.0
4,yuzp8qeNTuQBIHzKqYWXPw,Prohibition,80203,4.0,550,newamerican,True,1030.860763,$$,NiLyuLN1G5_7KTcLstGsXg,Came here with a group of 13 on a Saturday nig...,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2920,LIEcfgd6F2UVBqNIMX-fUA,Old Hickory Steakhouse,80019,3.5,26,steak,True,20736.162474,NaN,NaN,NaN,NaN
2921,LIEcfgd6F2UVBqNIMX-fUA,Old Hickory Steakhouse,80019,3.5,26,steak,True,20736.162474,NaN,NaN,NaN,NaN
2922,FyFF1LrJ9vDpBL_i1Gw95Q,Next Door American Eatery - Highlands Ranch,80129,3.5,98,tradamerican,True,20469.943135,$$,NaN,NaN,NaN
2923,FyFF1LrJ9vDpBL_i1Gw95Q,Next Door American Eatery - Highlands Ranch,80129,3.5,98,tradamerican,True,20469.943135,$$,NaN,NaN,NaN
2924,FyFF1LrJ9vDpBL_i1Gw95Q,Next Door American Eatery - Highlands Ranch,80129,3.5,98,tradamerican,True,20469.943135,$$,NaN,NaN,NaN